name: Build and Release

on:
  workflow_dispatch:
  push:
    branches: ["main"]

defaults:
  run:
    shell: "bash"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build the app
        run: bun run compile -- -p never

      - name: Extract App's version
        run: echo "APP_VERSION=v$(jq -r .version package.json)" >> $GITHUB_ENV

      - name: Create GitHub Release
        run: gh release new $APP_VERSION --title $APP_VERSION --generate-notes --latest dist/electron-updater-playground* dist/latest*.yml
        env:
          GH_TOKEN: ${{ github.token }}